/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
...
 *= require_tree .
 *= require_self
 */

html, body { height: 100%; background: rgba(41,70,49,255);}

.parent {
    top: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1, h2, h3, h5 {
    font-family: "Lucida Console", Sans-Serif;
    color: white;
    text-align: center;
}

h4 {
    font-family: "Lucida Console", Sans-Serif;
    color: red;
}

p {
    font-family: verdana;
    font-size: 20px;
}

form {
    width: 1000px;
    text-align: center;
}

input {
    text-align: center;
}