<div class="row">
  <div class="col-md-2">
    <div class = "col-md-8">
      <h2>Blackjack</h2>
      <div class="well">
        <h3>You have <% @player_cards.each do |val| %>
            <%= val %>
          <% end %>: <%= @player_score %></h3>
        <h3>Dealer only reveals one card <%= @dealer_card%>: <%= @dealer_score %></h3>

        <form action="/game" method="post">
          <input type="hidden" name="redirect_to" id="redirect_to" value="">
          <input type="submit" name="button1" value="Hit" onclick="document.getElementById('redirect_to').value='/hit';">
          <input type="submit" name="button2" value="Stand" onclick="document.getElementById('redirect_to').value='/stand';">
        </form>

      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
</div>
