<div class="row">
  <div class="col-md-2">
    <div class = "col-md-8">
      <h2>Welcome to Blackjack!</h2>
      <div class="well">
        <form action="/save_name_cash" method="post">
          <h5>What is your name?</h5>
          <input name = 'player' type="string">
          <br/>
          <h5>How much would you like to cash in?</h5>
          <input name='deposit' type="number">
          <br/><br/>
          <input type="submit" value='Submit' class="btn btn-primary">
          <br/><br/>
          <input type="hidden" name="redirect_to" id="redirect_to" value="">
          <input type="submit" name="button1" value="Continue from previous game" onclick="document.getElementById('redirect_to').value='/continue';">
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
