<%= stylesheet_link_tag "application.css" %>
<% flash.each do |type, msg| %>
    <h4><%= msg %></h4>
<% end %>
<div class="parent">

  <form action="/save_name_cash" method="post">
    <h2>Welcome to Blackjack!</h2>
    <h5>What is your name?</h5>
    <input name = 'player' type="string">
    <br/>
    <h5>How much would you like to cash in?</h5>
    <input name='deposit' type="number">
    <br/><br/>
    <input type="submit" name="button1" value="Start New Game" onclick="document.getElementById('redirect_to').value='/submit';">
    <input type="hidden" name="redirect_to" id="redirect_to" value="">
    <br/><br/>
    <h5><%= @continue %></h5>
    <% if @continue %>
    <input type="submit" name="button1" value="Continue from previous game" onclick="document.getElementById('redirect_to').value='/continuefromprevious';">
    <% end %>
  </form>

</div>
